In [4]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv(r"D:\Documents\University of the Pacific\Semester Two\Software Methods\Titanic\Data\titanic.csv")

In [6]:
df = df.drop('Name', axis = 1)

In [7]:
le = preprocessing.LabelEncoder()
df['Sex'] = df['Sex'].astype(str)
le.fit(df['Sex'])
df['Sex'] = le.transform(df['Sex'])

In [8]:
df.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,1,22.0,1,0,7.2500
1,1,1,0,38.0,1,0,71.2833
2,1,3,0,26.0,0,0,7.9250
3,1,1,0,35.0,1,0,53.1000
4,0,3,1,35.0,0,0,8.0500

In [9]:
X = df.drop('Survived', axis = 1)
y = df['Survived']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .30, random_state = 42)

In [11]:
model = GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [12]:
accuracy_score(y_test, y_pred)

0.7640449438202247

In [13]:
model2 = RandomForestClassifier()
model2.fit(X_train, y_train)
y_pred2 = model2.predict(X_test)

In [14]:
accuracy_score(y_test, y_pred2)

0.7865168539325843

In [15]:
model3 = RandomForestClassifier(n_estimators=1300, min_samples_split=5, min_samples_leaf=4, max_depth=30, max_features='sqrt')
model3.fit(X_train, y_train)
y_pred3 = model3.predict(X_test)

In [16]:
accuracy_score(y_test, y_pred3)

0.8127340823970037